<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{{assets_backend_folder}}/css/main.css">
    <title>{{ title }}</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>VH</h1>
      </div>
      <div class="login-box">
        {{ form_open('', 'class="login-form"', 'id = "sign_in"', 'action="POST"') }}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
          {% if message %}
            <div class="form-group">
              {{ message }}
            </div>
          {% endif %}
          
          <div class="form-group">
            <label class="control-label">USERNAME</label>
            <input type="text" class="form-control" name="identity" placeholder="Username" required autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">PASSWORD</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <div class="utility">
                <div class="animated-checkbox">
                    <label class="semibold-text">
                        <input type="checkbox" name="remember"><span class="label-text">Remember</span>
                    </label>
                </div>
              <p class="semibold-text mb-0"><a data-toggle="flip">Forgot Password ?</a></p>
            </div>
          </div>
          <div class="form-group btn-container">
            <input type="hidden" name="redirect" value="{{ redirect }}">
            <button class="btn btn-primary btn-block">SIGN IN<i class="fa fa-sign-in fa-lg"></i></button>
          </div>
        </form>
        {{ form_open('forgetpassword', 'class="forget-form"', 'id = "sign_in"') }}
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block">RESET<i class="fa fa-unlock fa-lg"></i></button>
          </div>
          <div class="form-group mt-20">
            <p class="semibold-text mb-0"><a data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>
      </div>
    </section>
  </body>
  <script src="{{assets_backend_folder}}/js/plugins/jquery-2.1.4.min.js"></script>
  <script src="{{assets_backend_folder}}/js/bootstrap.min.js"></script>
  <script src="{{assets_backend_folder}}/js/plugins/pace.min.js"></script>
</html>