{% extends _layout %}

{% block CONTENT %}

    <div class="page-title">
        <div>
            <h1><i class="fa fa-edit"></i> Edit article</h1>
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="/dashboard/article">Article</a></li>
                <li>Edit article</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <form id="article_post" >
            <div class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Link info</label>
                            <div class="input-group form-line">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        {{base_url}}
                                    </button>
                                </span>
                                <input name="link_info" class="link_info form-control" type="text" value="/news/{{article['article_slug']}}-{{article['id']}}">
                            </div>
                        </div>
                        
                        <label class="control-label">Language</label>
                        <div class="form-group">
                            <div class="form-group form-group-sm">
                                <select name="post_language" class="form-control selectpicker post_language" data-live-search="true" >
                                {% for langs in languages %}
                                    {% if article['language_code'] == langs['language_code'] %}
                                        <option value="{{langs['language_code']}}" selected>{{langs['name']}}</option>
                                    {% else %}
                                        <option value="{{langs['language_code']}}">{{langs['name']}}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label class="control-label">For</label>
                        <div class="form-group">
                            <div class="form-group form-group-sm">
                                <select name="post_focus" class="form-control selectpicker post_focus" data-live-search="true" >
                                    {% for key,fc in focus %}
                                        {% if key==article['focus'] %}
                                            <option value="{{key}}" selected>{{fc}}</option>                                        
                                        {% else %}
                                            <option value="{{key}}">{{fc}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input name="post_article_title" class="post_article_title form-control" type="text" placeholder="Nhập tiêu đề tại đây" value="{{article['article_title']}}">
                        </div>
                        <div class="form-group date-time">
                            <label class="control-label">Date time</label>
                            <input name="post_date" class="post_date form-control datetimepicker" type="text" placeholder="datetime" value="{{article['article_date']|date('m/d/Y H:i:00')}}">
                        </div>
                        <div class="form-group event-time">
                            <label class="control-label">Event time (Option)</label>
                            <input name="post_event_date" class="post_event_date form-control datetimepicker" type="text" placeholder="event time" value="{{article['event_date']|date('m/d/Y H:i:00')}}">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Content</label>
                            <div class="group_ckeditor">
                                <textarea name="post_article_content" class="post_article_content form-control texteditor" rows="4" placeholder="typing your content">{{article['article_content']}}</textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="card">
                    <h5 class="card-title">SEO Options</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input name="post_seo_title" value="{{seo_title}}" class="form-control post_seo_title" type="text"  maxlength="70">
                            <p>The title display in search engines is limited to 70 chars. If the SEO title is empty the title will be generated based on your title template in your SEO settings.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea name="post_seo_description" class="form-control post_seo_description" rows="4" maxlength="500">{{seo_description}}</textarea>
                            <p>The meta description will be limited to 500 chars. If the meta description is empty the description 
                                will be generated based on your meta description options in your SEO settings.</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Keywords</label>
                            <input name="post_seo_keywords" class="post_seo_keywords form-control" type="text" value="{{seo_keywords}}" maxlength="1000">
                            <p>Add search keywords and separate tags with commas (,).</p>
                        </div>
                    </div>
                </div>
                
            </div>
            {# end col-9 #}
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-title">Update article</h5>
                    <div class="card-body">
                        <div class="form-group hidden">
                            <input class="form-control input-sm post_article_password" name="post_article_password" type="text" value="{{article['article_password']}}" placeholder="Option password access">
                            <p>Add if you want the post to be read only by the people who have the code you provided</p>
                        </div>
                        <div class="form-group">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="toggle">
                                        <i class="fa fa-fw fa-lg fa-thumb-tack"></i>
                                        Pin to home 
                                        <label>
                                            {% if article['pin']==1 %}
                                            <input class="post_pin" type="checkbox" name="post_pin" checked><span class="button-indecator"></span>    
                                            {% else %}
                                            <input class="post_pin" type="checkbox" name="post_pin"><span class="button-indecator"></span>
                                            {% endif %}
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-lg fa-check-circle"></i> Status <b>{{article['article_status']}}</b>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-lg fa-eye"></i> View mode
                                    {% if article['article_password']!='' %}
                                        <b>Only people with a password</b> 
                                    {% else %}
                                        <b>All</b>
                                    {% endif %}
                                    
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="form-group">
                            <div id="loading_fa" class="">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <input class="post_article_id" type="hidden" name="post_article_id" value="{{article_id}}">
                        <button id="submit_publish" status="publish" class="update_article btn btn-primary icon-btn" type="button">
                        <i class="fa fa-paper-plane"></i> Update
                        </button>
                        <button id="submit_draft" status="draft" class="update_article btn btn-default icon-btn" type="button">Save draft</button>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-title">Thumbnail</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group form-line file-select">
                                <span class="input-group-btn">
                                    <button class="ckfinder-popup btn btn-default" type="button">
                                        <i class="glyphicon glyphicon-upload"></i> Select file
                                    </button>
                                </span>
                                <input class="form-control post_thumbnail" name="post_thumbnail" type="text" value="{{article['thumbnail']}}">
                            </div>
                            <p>Encourage the use of thumbnail to make the article more recognizable</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-title">Category</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-group form-group-sm">
                                <select name="post_categories" class="form-control selectpicker post_categories" multiple data-live-search="true" >
                                    {% for cate in categories %}
                                    <option value="{{cate['term_id']}}" {{cate['selected']}}>{{cate['term_name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <a data-toggle="collapse" href="#collapsecategories" aria-expanded="false" aria-controls="collapsecategories">
                        <i class="fa fa-plus"></i> Add category
                        </a>
                        <div class="collapse" id="collapsecategories">
                            <div class="form-group form-group-sm">
                                <input name="ajax_category" class="form-control input-sm ajax_category" type="text" placeholder="Add category">
                                <p class="category_alert">Choose the category if you need more subcategories.</p>
                            </div>
                            <div class="form-group form-group-sm">
                                <select name="ajax_parent_category" class="form-control selectpicker ajax_parent_category" data-live-search="true">
                                    <option value="0">Parent category</option>
                                    {% for cate in categories %}
                                        <option value="{{cate['term_id']}}">{{cate['term_name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group form-group-sm">
                                <button id="ajax_add_category" class="btn btn-sm btn-default" type="button">Add category</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-title">Tag</h5>
                    <div class="card-body">
                        <div class="form-group form-group-sm">
                            <div class="input-group form-line file-select">
                                <input class="form-control ajax_tags" name="ajax_tags" type="text" value="" autocomplete="off">
                                <span class="input-group-btn">
                                    <button id="ajax_add_tags" class="btn btn-sm btn-default" type="button">
                                        <i class="fa fa-plus"></i> Add tag
                                    </button>
                                </span>
                            </div>
                            {# <p class="tag_alert">Phân cách các thẻ bằng dấu phẩy (,).</p> #}
                        </div>
                        <div id="post_tags" class="form-group">
                            {% for tag in tags %}
                            <span tagid="{{tag['term_id']}}" tagval="{{tag['term_name']}}" class="post_tags tags label label-primary"><a class="remove_tag" href="javascript:void(0);"><i class="fa fa-trash"></i></a> {{tag['term_name']}}</span>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}


{% block SCRIPTS %}
<link rel="stylesheet" href="/grocery_crud/plugins/bootstrap-select/css/bootstrap-select.min.css">
<script type="text/javascript" src="/grocery_crud/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/grocery_crud/texteditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/grocery_crud/texteditor/ckfinder/ckfinder.js"></script>
<script type="text/javascript" src="/grocery_crud/texteditor/ckfinder/instance_popup.js"></script>
<script type="text/javascript" src="/grocery_crud/texteditor/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript" src="/grocery_crud/js/jquery_plugins/config/jquery.ckeditor.config.js"></script>
<script type="text/javascript" src="/grocery_crud/plugins/datepicker/moment.min.js"></script>
<script type="text/javascript" src="/grocery_crud/plugins/datepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/grocery_crud/plugins/datepicker/bootstrap-datetimepicker.config.js"></script>
<script type="text/javascript" src="/themes/backend/js/plugins/sweetalert.min.js"></script>
<script type="text/javascript" src="/themes/backend/js/plugins/bootstrap-typeahead.min.js"></script>
<link rel="stylesheet" href="/themes/backend/js/plugins/bootstrapvalidator/css/bootstrapValidator.min.css">
<script type="text/javascript" src="/themes/backend/js/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/themes/backend/js/article.js"></script>
{% endblock %}